body {

  background-color: #1a1a1a;
}

#file_inputs {
  font-family: 'Comic Sans MS'
}

.grid-item {
  width: 300px;
  border: 15px #ff0000;
  padding: 30px;
  margin: 20px;
  background-color: #424242;
}

.dataValue {
  font-family: 'Roboto Mono', monospace;
}