@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body {
    background-color: #232323;
}

#logo {
    max-width: 25%;
    display: block;
    margin: auto;
}

header {
    font: 2rem 'Pixelify Sans';
    color: aliceblue;
    text-align: center;
}

label {
    font-family: 'Pixelify Sans';
}
.grid-item {
    display: inline-grid;
    width: 30%;
    min-width: 250px;
    padding-left: 4px;
    padding-right: 5px;
    margin: 10px;
    background-color: #424242;
    text-align: center;
    border: 2px solid rgb(121, 121, 121);
}

.dataValue {
    font-family: 'Roboto Mono', monospace;
}

.dataTitle {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#actions {
    text-align: center;
}